
PY3-SO/comandos_basicos/__pycache__/ver_propiedades.cpython-310.pyc
PY3-SO/comandos_basicos/__pycache__/tree.cpython-310.pyc
PY3-SO/comandos_basicos/__pycache__/mover.cpython-310.pyc
PY3-SO/comandos_basicos/__pycache__/find.cpython-310.pyc
PY3-SO/comandos_basicos/__pycache__/copiar.cpython-310.pyc
PY3-SO/__pycache__/filesystem_app.cpython-310.pyc
PY3-SO/__pycache__/filesystem.cpython-310.pyc
PY3-SO/__pycache__/directory_and_file.cpython-310.pyc
filesystem_state.pkl
virtual_disk.txt
